h1, h3, h4, label, td, span {
    color:wheat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select, option {
    color:white;
    background-color:#4a7c87;
    border-radius:4px;
    border:#dce7eb;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color:#204035;
}

.card {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:10px;
    column-gap:10px;
    border:2px solid #efef98;
    border-radius: 8px;
    background-color:#192026;
}

.card.common     { border-color: #998073; }
.card.uncommon   { border-color: #936f45; }
.card.rare       { border-color: #95b4c0; }
.card.epic       { border-color: #f0d493; }
.card.legendary  { border-color: #c485c6; color:#eae2b0;}

.flex-container {
    flex-direction:column;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:4px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}